<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
        .div_ads {
            width: 40%;
            margin: 0 auto;
            margin-top: 30px;
            margin-left: 30%;
        }

        #tableClass {
            margin: 0 auto;
            width: 50%;
            margin-top: 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>

<div class="div_ads panel panel-default">
    <div class="panel-heading" align="center" style="font-size: 20px">教师信息</div>
    <table class="table panel-body" id="tableClass">
        <tr>
            <td>工&nbsp;&nbsp;&nbsp;号：</td>
            <td th:text="${teacher.tea_num}"></td>
        </tr>
        <tr>
            <td>姓&nbsp;&nbsp;&nbsp;名：</td>
            <td th:text="${teacher.tea_name}"></td>
        </tr>
        <tr>
            <td>性&nbsp;&nbsp;&nbsp;别：</td>
            <td th:text="${teacher.tea_sex}"></td>
        </tr>
        <tr>
            <td>年&nbsp;&nbsp;&nbsp;龄：</td>
            <td th:text="${teacher.tea_age}"></td>
        </tr>

        <tr>
            <td>电&nbsp;&nbsp;&nbsp;话：</td>
            <td th:text="${teacher.phone}"></td>
        </tr>
        <tr>
            <td>地&nbsp;&nbsp;&nbsp;址：</td>
            <td th:text="${teacher.address}"></td>
        </tr>
        <tr>
            <td>邮&nbsp;&nbsp;&nbsp;箱：</td>
            <td th:text="${teacher.email}"></td>
        </tr>
        <tr>
            <td>身份证&nbsp;：</td>
            <td th:text="${teacher.card}"></td>
        </tr>
        <tr>
            <td>所任课程：</td>
            <td th:text="${teacher.course_name}"></td>
        </tr>
        <tr>
            <td>所任班级：</td>
            <td th:text="${teacher.className}"></td>
        </tr>
        <tr>
            <td>入职日期：</td>
            <td th:text="${teacher.enrolldate}"></td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td></td>
        </tr>

    </table>
</div>
</body>
</html>
